# Vite config (Everything prefixed with VITE will be available on runtime)
VITE_API_PORT=3000
VITE_API_URL=http://localhost:${VITE_API_PORT}
VITE_SENTRY_RELEASE=local_no_release
VITE_ENV="local"

# For Database
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
SUPABASE_ADMIN_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0"
VITE_SUPABASE_URL="http://127.0.0.1:54321"
VITE_SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0"

# Third party services (optional for local dev)
SHOWCASE_LINK="https://example.com/showcase"
CEELAB_LINK="https://example.com/ceelab"
YOUSIGN_API_KEY="your_yousign_api_key"
YOUSIGN_WEBHOOK_SECRET_KEY="your_yousign_webhook_secret_key"
OPENAI_ASSISTANT_API_KEY="your_openai_assistant_api_key"
FIREBASE_API_FN_NAME="https://example.com/firebase"
STACKSYNC_BEARER_TOKEN="your_stacksync_bearer_token"
MAILERSEND_API_KEY="your_mailersend_api_key"
SENTRY_API_DSN="your_sentry_api_dsn"
SENTRY_AUTH_TOKEN="your_sentry_auth_token"
PDFSHIFT_API_KEY="your_pdfshift_api_key"
PAPPERS_API_KEY="your_pappers_api_key"
HUNTER_API_KEY="your_hunter_api_key"
FULLENRICH_API_KEY="your_fullenrich_api_key"
SOCIETE_INFO_API_KEY="your_societe_info_api_key"

STRIPE_SECRET_KEY="your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="your_stripe_webhook_secret"
VITE_STRIPE_PUBLIC_KEY="your_stripe_public_key"
STRIPE_PRICE_ESSENTIAL="your_stripe_price_essential_id"
STRIPE_PRICE_PRO="your_stripe_price_pro_id"
STRIPE_PRICE_BUSINESS="your_stripe_price_business_id"
