@use '@angular/cdk/overlay-prebuilt.css';
@use 'libs/client/config/src/lib/styles.scss';

@layer tailwind-base, primeng, tailwind-utilities, override-css;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


.content-centered {
  @apply mx-auto xl:w-10/12 xl:max-w-screen-xl w-full;
}

body {
  margin: 0;
  height: 100%;
}

.card {
  height: fit-content;
  width: auto;
  background-color: green;
  color: white;
}

h3 {
  @apply text-3xl font-semibold font-display;
}

ol {
  @apply list-decimal ml-5;
}

.contentfull-content {
  @apply mx-auto max-w-[1000px] flex-1 z-10 relative text-gray-600;

  p {
    @apply text-base font-normal tracking-tight leading-normal;
  }

  p + p, img + p, ul + p {
    @apply mt-4;
  }

  .btn-cta {
    @apply font-display items-center gap-3 rounded-lg text-base shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 px-6 py-3 focus-visible:outline-primary-700 to-primary-700 bg-gradient-227 from-[#0022CC] hover:from-[#001A99] hover:to-[#001166] text-white block mx-auto w-fit;
  }

  ul {
    @apply list-disc ml-5;
  }

  h1, h2, h3 {
    @apply font-semibold font-display text-primary-700;
  }

  h1 {
    @apply text-4xl mb-6;
  }

  h2 {
    @apply text-3xl mt-8 mb-2;
  }

  h3 {
    @apply text-2xl mt-6 mb-2;
  }

  table {
    @apply w-full border-collapse border border-gray-300 mt-6 mb-4 rounded-lg overflow-hidden shadow-sm;
  }

  thead {
    @apply bg-gray-100;
  }

  th {
    @apply border border-gray-300 px-4 py-3 text-left font-semibold text-gray-600 bg-gray-100;
  }

  td {
    @apply border border-gray-300 px-4 py-2 text-gray-600;
  }

  tbody tr:hover {
    @apply bg-gray-100;
  }

  // tbody tr:nth-child(even) {
  //   @apply bg-gray-25;
  // }
}

.highlight,
.featured {
  @apply flex flex-col gap-6 my-3 p-6 bg-white text-gray-600 shadow-o rounded-2xl;

  h3 {
    @apply text-black pt-1 pb-4;
  }
}

/* Pour cacher les barres de défilement */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.p-inputtext {
  --p-inputtext-placeholder-color: var(--p-slate-300);
}
